# Entornos virtuales
.venv/
env/
__pycache__/
.ipynb_checkpoints/

# Archivos temporales y compilados
*.log
*.tmp
*.bak

# Modelos, pesos y salidas
*.pt
*.pth
*.pkl
*.h5
*.onnx

# Datasets grandes
Datasets/
Datasets/Real-world/
Datasets/MIMIC-III/
Datasets/Synthetic-data/outputs/
*.csv

# IDEs
.vscode/
.idea/

# Jupyter Notebook
*.nbconvert.ipynb